@import 'src/styles/settings.scss';
@import 'src/styles/normalize.scss';
@import 'src/styles/typography.scss';

.button {
    position: absolute;
    top: -$base-size * 2;
    right: -$base-size * 2;
    font-size: $base-size * 2;
    border-radius: 100%;
    width: $base-size * 5;
    height: $base-size * 5;
  }

  .sizes .choices button:hover{
    background: rgb(47, 53, 66);
  }